<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>路线详情</title>
  <link rel="stylesheet" type="text/css" href="${request.contextPath}/statics/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="${request.contextPath}/statics/css/common.css">
  <link rel="stylesheet" type="text/css" href="${request.contextPath}/statics/css/route-detail.css">
  <link rel="stylesheet" href="${request.contextPath}/statics/layui/css/layui.css" media="all">
  <script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
  <script src="${request.contextPath}/statics/libs/vue.min.js"></script>
  <script src="${request.contextPath}/statics/libs/bootstrap.min.js"></script>
  <script src="${request.contextPath}/statics/libs/jquery.slimscroll.min.js"></script>
  <script src="${request.contextPath}/statics/libs/fastclick.min.js"></script>
  <script src="${request.contextPath}/statics/layer-v3.1.1/layer/layer.js"></script>
  <script src="${request.contextPath}/statics/layui/layui.js"></script>
</head>

<body class="hold-transition login-page">
<!-- 详情 start -->
<div class="rrapp" v-cloak>
  <div class="bread_box">
    <a href="login1.html">首页</a>
    <span> &gt;</span>
    <a href="#" style="display: inline-block;"><p class="pros_title" id="rnamea"></p></a>
  </div>
  <div class="prosum_box">
    <dl class="prosum_left">
      <dt id="dt">

      </dt>
      <dd id="dd">

      </dd>
    </dl>
    <div class="prosum_right">
      <p class="pros_title" id="rname"></p>
      <p class="hot" id="routeIntroduce"></p>
      <div class="pros_other">
        <p>经营商家  ：YY国旅</p>
        <p >推荐酒店：<span id="hotelName"></span></p>
        <p >线路：<span id="line" style="display: inline-block;padding-left: 2em"></span></p>
        <p >推荐时间：<span id="time"></span></p>
        <p >出行方式：<span id="transport"></span></p>
      </div>
      <div class="pros_price">
        <p class="price"><strong id="price">¥</strong><span>起</span></p>
        <p class="collect">
          <a id="favorite" class="btn" onclick="addFavorite()"><i class="glyphicon glyphicon-heart-empty"></i>点击收藏</a>
          <a id="disfavorite" class="btn" onclick="disFavorite()"><i class="glyphicon glyphicon-heart-empty"></i>取消收藏</a>
          <!--收藏次数-->
          <span id="favoriteCount"></span>
        </p>
      </div>
    </div>
  </div>
  <div class="you_need_konw">
    <span><a id="noticeOpen1" class="btn" onclick="noticeOpen1()"><i class="glyphicon glyphicon-heart-empty"></i>写评论</a></span>
    <div id="noticeOpen" style="display: none;">
      <form class="layui-form" action="">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" id="contest" placeholder="评论">
      </div>
      </form>
    </div>
    <div class="notice">
      <strong id="notice_user"></strong>
      <p class="pros_title" id="notice"></p>
    </div>
  </div>
  <div class="you_need_konw">
    <span>旅游须知</span>
    <div class="notice">
      <p>1、旅行社已投保旅行社责任险。建议游客购买旅游意外保险 <br>

      <p>2、旅游者参加打猎、潜水、海边游泳、漂流、滑水、滑雪、滑草、蹦极、跳伞、滑翔、乘热气球、骑马、赛车、攀岩、水疗、水上飞机等属于高风险性游乐项目的，敬请旅游者务必在参加前充分了解项目的安全须知并确保身体状况能适应此类活动；如旅游者不具备较好的身体条件及技能，可能会造成身体伤害。</p>

      <p>3、参加出海活动时，请务必穿着救生设备。参加水上活动应注意自己的身体状况，有心脏病、冠心病、高血压、感冒、发烧和饮酒及餐后不可以参加水上活动及潜水。在海里活动时，严禁触摸海洋中各种鱼类，水母，海胆，珊瑚等海洋生物，避免被其蛰伤。老人和小孩必须有成年人陪同才能参加合适的水上活动。在海边游玩时，注意保管好随身携带的贵重物品。</p>

      <p>4、根据中国海关总署的规定，旅客在境外购买的物品，在进入中国海关时可能需要征收关税。详细内容见《中华人民共和国海关总署公告2010年第54号文件》。</p>

      <p>5、建议出发时行李托运，贵重物品、常用物品、常用药品、御寒衣物等请随身携带，尽量不要托运。行李延误属于不可抗力因素，我司将全力协助客人跟进后续工作，但我司对此不承担任何责任。</p>
      <p>1、旅行社已投保旅行社责任险。建议游客购买旅游意外保险 <br>

      <p>2、旅游者参加打猎、潜水、海边游泳、漂流、滑水、滑雪、滑草、蹦极、跳伞、滑翔、乘热气球、骑马、赛车、攀岩、水疗、水上飞机等属于高风险性游乐项目的，敬请旅游者务必在参加前充分了解项目的安全须知并确保身体状况能适应此类活动；如旅游者不具备较好的身体条件及技能，可能会造成身体伤害。</p>

      <p>3、参加出海活动时，请务必穿着救生设备。参加水上活动应注意自己的身体状况，有心脏病、冠心病、高血压、感冒、发烧和饮酒及餐后不可以参加水上活动及潜水。在海里活动时，严禁触摸海洋中各种鱼类，水母，海胆，珊瑚等海洋生物，避免被其蛰伤。老人和小孩必须有成年人陪同才能参加合适的水上活动。在海边游玩时，注意保管好随身携带的贵重物品。</p>

      <p>4、根据中国海关总署的规定，旅客在境外购买的物品，在进入中国海关时可能需要征收关税。详细内容见《中华人民共和国海关总署公告2010年第54号文件》。</p>

      <p>5、建议出发时行李托运，贵重物品、常用物品、常用药品、御寒衣物等请随身携带，尽量不要托运。行李延误属于不可抗力因素，我司将全力协助客人跟进后续工作，但我司对此不承担任何责任。</p>
    </div>
  </div>
</div>
<!-- 详情 end -->

<!--引入头部-->
<div id="footer"></div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="${request.contextPath}/statics/js/jquery-3.3.1.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="${request.contextPath}/statics/js/bootstrap.min.js"></script>
<!--导入布局js，共享header和footer-->
<script src="${request.contextPath}/statics/js/getParameter.js"></script>
<script src="${request.contextPath}/statics/js/404.js?_${.now?long}"></script>
<script>

</script>
</body>

</html>