<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <ul>
            <p>
            <li>
            “旅游DIY，颠覆了传统的旅游模式，旅游再也不是填鸭式地出行了，游客有了更多的自主权和选择权。无论从景点选择到酒店选择；从机票选择到食宿选择等等都能按照您的意愿去选择搭配，您要做的只是轻点鼠标就能完成线路的设计。”
            </li>
            <li>
                旅游DIY代表着未来旅游方式的发展方向。旅游消费是一种享受和发展的消费，它的发展不是孤立的随意的，而是受各种经济和社会因素影响。人们对旅游的追求已经从过去的单一化演变成现在的多样化。            </li>
            </p>
        </ul>

    </div>
</div>
</body>
</html>