<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <ul>
            <li>采用Spring、MyBatis、Shiro框架，开发的一套权限系统</li>
            <li>注重安全性，为企业系统保驾护航</li>
        </ul>
        <ul>
            <p>
            <li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;深圳市探索者卡丁车有限公司隶属于中国大陆第一家赛车机构---深圳香蜜湖赛车会，其创建于1984年，香蜜湖赛车会是中国大陆卡丁车发展的先驱和鼻祖，拥有最强的实际操作能力和最丰富的营运经验。基于香蜜湖赛车会的营运需求深圳市探索者卡丁车有限公司的核心管理团队于1986年开始卡丁车的研发及制造。作为中国第一家专业卡丁车制造厂家，结合三十年多来的实际经验，一直以其专业的制造品质深受国内外优秀车手及各卡丁车俱乐部的信赖。

                公司生产的竞技型卡丁车经中国汽车运动联合批准为国家级赛事合格准赛型车架，亦是国内唯一通过卡丁车碰撞试验的车架。竞技及娱乐型卡丁车均已获得相关资质的检验报告，为各卡丁车俱乐部经营过程中办理“高危险体育行业经营许可证”提供了必不可少的条件之一。
            </li>
            <li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;深圳市探索者卡丁车有限公司在不断成长的三十多年漫长岁月中，不仅在卡丁车设计、研发及制造技术方面日益精湛，赛车经营管理方面也日益完善，技术资源方面在国内也是首屈一指的。公司经营管理团队结合香港及国际经营管理经验提供一站式服务：从卡丁车新场馆设计、赛道建设、经营管理一体化指导及专业卡丁车车手培训，更有专门的赛事营运团队及专业车队负责培训、输送、举荐及带领优秀的专业卡丁车车手参加卡丁车世界赛及各类国际卡丁车大赛。

                公司更是自2009年开始至今一直是世界冠军顶级车架-CRG品牌中国独家代理，CRG是欧洲卡丁车的一张世界名片，也是我们中国众多卡丁车发烧友的至爱，我们一直与其携手合作。同时我们也是享誉全球的台湾玛吉斯MAXXIS卡丁车轮胎的中国总代理及IAME发动机港澳总代理。
            </li>
            </p>
        </ul>

        <ul>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;只要在探索者公司无论您是新场地开发、规划、经营指导、专业赛车手培训、参加国际专业卡丁车赛事、采购卡丁车及卡丁车配套的全系列产品我们均能为您提供快捷简便的一站式服务。

                深圳市探索者卡丁车有限公司始终秉承品牌战略，质量第一、顾客至上、自强不息、不断发展”之精神，以“开拓创新、优质高效服务”为经营方针，推行零缺点的全面品质管理经营理念。贯彻高科技、高品质、高信誉的宗旨，愿以先进优质的产品和完善的服务与各界朋友共同致力于卡丁车体育运动的发展。
            </li>
        </ul>
    </div>
</div>
</body>
</html>