<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
    <link rel="stylesheet" href="${request.contextPath}/statics/layui/css/layui.css" media="all">
    <script src="${request.contextPath}/statics/libs/bootstrap.min.js"></script>
    <script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
    <script src="${request.contextPath}/statics/layui/layui.js"></script>
</head>
<body>
<div class="layui-carousel" id="test1">
    <div carousel-item>
        <img src="${request.contextPath}/statics/picture/login.jpg" style="height:100%">
        <img src="${request.contextPath}/statics/picture/login.jpg" style="height:100%">
        <img src="${request.contextPath}/statics/picture/login.jpg" style="height:100%">
    </div>
</div>
<script>
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            ,width: '100%' //设置容器宽度
            ,height: '500px'
            ,arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    });
</script>
</body>
</html>
</body>
</html>